.App {
  text-align: center;
}

.App-header {
    background-color: black;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    color: white;
}

a {
  color: black;
  text-decoration: none;
}

#title {
    /*font-family:'Baskerville Old Face';*/
    margin: 15px;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#mainContent {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100vh;
    left: 0px;
}

#topLevel{
    display: flex;
    position: relative;
    width: 100%;
}

#hangCard {
    position: absolute;
    display: inline-block;
    z-index: 3;
    width: auto;
    height: auto;
    top: auto;
    left: 50px;
    transform: rotate(0deg);
    animation-name: wrongGuess;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

@keyframes wrongGuess{
    0% {
        filter: invert(0%);       
    }
    50% {
        filter: invert(100%);
    }
    100% {
        filter: invert(0%);
    }
}

#endGame {
    background-color: red;
    position: absolute;
    z-index: 5;
    left: 1050px;
    top: 150px;
    width: 20%;
    padding: 25px;
    transform: rotate(5deg);
    color: white;
    font-weight: bold;
    font-size: 4em;
    display: none;
    cursor: auto;
}

#endGame > p {
    margin: 0;
}

#userDiv {
    position: relative;
    background-color: red;
    transform: rotate(0.5deg);
    top: -75px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#userDiv > input[type=text] {
    background-color: black;
    color: white;
    border: red;
    font-size: 4em;
    width: 75px;
    text-align: center;
    outline: none;
}

input[type=text]:focus {
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    caret-color: transparent;
}

@keyframes blinking {
    0% {
        background-color: black;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    text-align: center;
}

.chars {
    color: white;
    font-size: 4em;
    padding: 0px 15px 0px 15px;
    margin: 15px 15px 15px;
    transform: rotate(2deg);
}

.charBox {
    position: relative;
    left: 0px;
    top: 70px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    transform: rotate(0deg);
    width: 100%;
    padding-left: 325px;
    padding-right: 325px;
    height: 325px;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border: none;
}

.charBox > p {
    font-size: 2.5em;
    transform: rotate(0deg);
    padding: 5px 10px 5px;
}

#alph {
    position: relative;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    top: 275px;
    justify-content: center;
    transform: rotate(-2deg);
    padding: 10px 250px 10px 100px;
    width: 90%;
    left: -1%;
}

.guessedCorrect {
    background-color: white !important;
    color: black !important;
}

.guessedIncorrect {
    background-color: red !important;
    color: black !important;
}

.notGuessed {
    color: blue;
    padding: 5px;
}

#wrongGuesses {
    position: absolute;
    background-color: red;
    color: white;
    font-weight: bold;
    transform: rotate(-2deg);
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    font-size: 2em;
    z-index: 3;
    left: 250px;
    top: 25px;
}

.headerButton {
    background-color: red;
    color: black;
    transform: rotate(-2deg);
    border: none;
    margin: 15px;
    cursor: pointer;
}

.headerButton > p {
    font-size: 2em;
    margin: 0;
    padding: 3px 3px 3px 3px;
}

#confirmGuess {
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.complete > p{
    background-color: white !important;
    color: black !important;
}

